<header>
    <nav>
        <img src="pictures/full_logo_white.png" class="logo-nav">
        <ul>
            <li><a class="links" href="/">Tous les horaires</a></li>
            <li><a class="links" href="/new">Nouveaux horaires</a></li>
        </ul>
    </nav>
</header>