<header>
    <nav>
        <img src="pictures/full_logo_white.png" class="logo-nav">
        <ul>
            <li><a href="/">Page d'accueil</a></li>
            <li><a href="./users">Tous les travailleurs</a></li>
            <li><a href="/schedules">Tous les horaires</a></li>
            <li><a href="/users/new">Nouveau travailleur</a></li>
            <li><a href="/schedules/new">Nouveaux horaires</a></li>
        </ul>
    </nav>
</header>