<header>
    <nav>
        <img src="/public/pictures/logo_mrcoffee.png" class="logo-nav">
        <ul>
            <li>Users</li>
            <li>Schedules</li>
            <li>New user</li>
            <li>New Schedules</li>
        </ul>
    </nav>
</header>