
<div class="form">
    <form method="POST" action="/users" class="new-user-form">
        <div>
            <label for="firstname">Nom:</label>
            <input name="firstname" id="firstname" type="text" required>
        </div>
        <div>
            <label for="lastname">Nom de famille:</label>
            <input name="lastname" id="lastname" type="text" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input name="email" id="email" type="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input name="password" id="password" type="password" required>
        </div>
        <button class="button">Envoyer</button>
    </form>
</div>